Juegos/log-*/
Juegos/stencylworks/logs/
Juegos/stencylworks/games/*/.cache/
Juegos/stencylworks/games/*/export/
*.stencyl
Juegos/stencylworks/games-generated/*/.cache/
Juegos/stencylworks/games-generated/*/export/
